flows.json
[{"type":"tab","id":"60da96e2.9f2568","label":"Hello World!"},{"type":"tab","id":"1a0319ef.e5fce6","label":"Blink{1}"},{"type":"tab","id":"1fdbb4c2.e0244b","label":"SensorTag"},{"type":"tab","id":"7e26297c.81d9d8","label":"API + Blink{1} + SensorTag"},{"id":"54967739.ab6988","type":"inject","name":"Hello World","topic":"message","payload":"Hello World!","payloadType":"string","repeat":"","crontab":"","once":true,"x":206,"y":100,"z":"60da96e2.9f2568","wires":[["77194b7e.88e6b4"]]},{"id":"77194b7e.88e6b4","type":"debug","name":"","active":false,"console":"true","complete":"payload","x":496,"y":100,"z":"60da96e2.9f2568","wires":[]},{"id":"200e3d9d.dff1c2","type":"inject","name":"Red","topic":"","payload":"#FF0000","payloadType":"string","repeat":"","crontab":"","once":false,"x":265,"y":121,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"a12ca406.5ed358","type":"inject","name":"Green","topic":"","payload":"0,255,0","payloadType":"string","repeat":"","crontab":"","once":false,"x":266,"y":215,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"51b9c937.ae4638","type":"inject","name":"Blue","topic":"","payload":"blue","payloadType":"string","repeat":"","crontab":"","once":false,"x":266,"y":311,"z":"1a0319ef.e5fce6","wires":[["dfd5d415.202a28"]]},{"id":"dfd5d415.202a28","type":"blink1","fade":"500","name":"","x":622,"y":215,"z":"1a0319ef.e5fce6","wires":[]},{"id":"ac2eb0c1.53d15","type":"sensorTag","name":"sensorTag","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":135,"y":96,"z":"1fdbb4c2.e0244b","wires":[["a3606dd5.5c9f9"]]},{"id":"98877520.677888","type":"debug","name":"","active":false,"console":"false","complete":"false","x":642,"y":96,"z":"1fdbb4c2.e0244b","wires":[]},{"id":"a3606dd5.5c9f9","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":384,"y":96,"z":"1fdbb4c2.e0244b","wires":[["98877520.677888"]]},{"id":"c394d507.3c6b28","type":"http request","name":"","method":"GET","ret":"txt","url":"api.openweathermap.org/data/2.5/weather?q=Madrid&appid=0650dbd0db749deeb58975730396b31b&units=metric","x":307,"y":145,"z":"7e26297c.81d9d8","wires":[[]]},{"id":"a44c6745.5bb398","type":"json","name":"","x":507,"y":145,"z":"7e26297c.81d9d8","wires":[["9676a378.69896"]]},{"id":"9676a378.69896","type":"debug","name":"","active":true,"console":"false","complete":"false","x":925,"y":147,"z":"7e26297c.81d9d8","wires":[]},{"id":"17e7c679.e8183a","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"60","crontab":"","once":false,"x":133,"y":145,"z":"7e26297c.81d9d8","wires":[["c394d507.3c6b28"]]},{"id":"48554324.b7aabc","type":"sensorTag","name":"sensorTag","topic":"sensorTag","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":false,"x":152,"y":245,"z":"7e26297c.81d9d8","wires":[["7c854144.837ac"]]},{"id":"7c854144.837ac","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"6","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":346,"y":245,"z":"7e26297c.81d9d8","wires":[["a44c6745.5bb398"]]}]

